.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 50px;
}
.ra-style {
    font-size: 80px;
    font-family: Roboto;
    font-weight: 400;
}
.mda-style {
    color: #4BCAFF;
    font-size: 80px;
    font-family: Roboto;
    font-weight: 400;
}
.ramda-js-link {
    text-decoration: none;
    color: black;
    padding-bottom: 40px;
}

.menu-list {
list-style: none;
display: flex;
background-color: #35444F;
justify-content: center;
}
.menu-item {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    border-left: 2px solid white;
    padding: 28px 40px;
}
.node-js {
    border-right: 2px solid white;
}
.wrapper {
    display: flex;
    gap: 52px;
}

.left-menu {
    border: 1px solid black;
    width: 320px;
}
.left-menu-item {
    color: #495863;
    font-size: 27px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
    padding: 25px 44px;
}
.left-menu-link {
    color: #495863;
    font-size: 27px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
}
.img-goat {
    border: 1px solid black;
    padding: 78px 280px;
}
.text {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-item {
    color: #2C2C2C;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    background-color: #63696E7A;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}
.footer-menu-list {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-menu-link, .copyright-text {
    color: #0C1927;
        font-size: 28px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 28px;
}

.copyright {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.left-menu-item:hover {
    background-color: #DBDBDB;
padding-left: 70px;
color: #35444F;
    font-size: 27px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
}
.left-menu-link:hover {
    color: black;
}
.menu-item:hover {
    background-color: #222F3A;
}
.footer-menu-link:hover {
    color: #3181A6;
    font-size: 28px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
border-bottom: 1px solid #3181A6;
padding-bottom: 10px;
}
.goat:hover {
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
}
/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header"
    "nav main"
    "nav main"
    "nav footer";
}
.grid-item {
font-size: 24px;
background-color: forestgreen;
color: white;
border: 2px solid red;
padding: 20px 30px;
text-align: center;
}
.grid-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5; */
    /* grid-area: header; */


/* .grid-item:nth-child(2) {
    grid-area: main;
}

.grid-item:nth-child(3) {
    grid-area: nav;
}

.grid-item:nth-child(4) {
    grid-area: footer;
} */